<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliorat</title>
</head>

<body>
    <h1>Book Profiles List</h1>
    {% if bookprofiles %}
        <ul>
            {% for book in bookprofiles %}
                <h2>{{ book.booktitle }} by {{ book.authorname.authorname }}</h2>
                <p>{{book.bookhook}}</p>
                <p>Reviewd by {{book.profileauthor}}</p>
            {% endfor %}
        </ul>
    {% else %}
        <p>No book profiles available.</p>
    {% endif %}
</body>

</html>