{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Paginated List of Book Profiles  -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for bookprofile in bookprofile_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ bookprofile.authorname }}</p>
                                </div>
                            </div>
                            <a href="#" class="bookprofile-link">
                                <h2 class="card-title">{{ bookprofile.booktitle }}</h2>
                                <p class="card-text text-muted h6">{{ bookprofile.bookhook}}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">Published on {{ bookprofile.created_on}} by {{ bookprofile.profileauthor }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                    {% if page_obj.number == 2 %}
                        <i class="fas fa-hand-point-left"></i> To the first page &hellip;
                    {% else %}
                        <i class="fas fa-hand-point-left"></i> Return to the previous page (and behind) &hellip;
                    {% endif %}
                </a>
            </li>
            {% endif %}
            
            <li class="page-item disabled">
                <span class="page-link"> &mdash; {{ page_obj.number }} &mdash; </span>
            </li>

            {% if page_obj.has_next %}
                {% if page_obj.number == second_to_last_page %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                        To the last page! <i class="fas fa-hand-point-right"></i>
                    </a>
                </li>
                {% else %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> To the next page (and beyond) &hellip; <i
                            class="fas fa-hand-point-right"></i></a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}